/* Efeitos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.secao-topo {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #604829;
}

.secao-topo img {
    position: relative;
    height: 70px;
    left: 15%;
}

.menu-navegacao {
    position: absolute;
    top: 35%;
    right: 15%;
}

.menu-navegacao a {
    color: #c4a47c;
    height: 30px;
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px 2px #000;
    padding: 0 20px;
    text-decoration: none;

}

.container-texto {
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    color: #666;
    background-color: #fff;
    width: 100%;
    margin: 60px auto;
    top: 50px;
}

.container-texto h2 {
    text-align: center;
    color: #c4a47c;
}

.container-texto p {
    text-align: center;
    color: #666;
    width: 800px;
    margin: 0 auto;
}

.container-parallax1 {
    background-image: url('assets/parallax-imagem1.png');
    top: 60px;
}

.container-parallax2 {
    background-image: url('assets/parallax-imagem2.jpg');
}

.container-parallax3 {
    background-image: url('assets/parallax-imagem3.jpg');
}

.container-parallax4 {
    background-image: url('assets/parallax-imagem4.png');
}

.container-horarios {
    background-image: url('assets/cafeteria.jpg');
}

.container-parallax1,
.container-parallax2,
.container-parallax3,
.container-parallax4 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.container-horarios {
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
}

.container-parallax2 h3,
.container-parallax3 h3,
.container-parallax4 h3,
.contato-dados {
    position: absolute;
    background-color: #604829;
    color: #fff;
    text-align: center;
    font-family: 'Fraunces', serif;
    top: 45%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 40%;
}

.container-parallax1 h1 {
    position: absolute;
    color: #fff;
    text-align: center;
    font-family: 'Fraunces', serif;
    top: 45%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.container-parallax4 .map-frame {
    position: absolute;
    top: 15%;
    margin: 0 auto;
}

.container-parallax4 h3 {
    position: absolute;
    top: 5%;
    margin: 0 auto;
}

.container-parallax4 .contato-dados {
    position: absolute;
    top: 80%;
    margin: 0 auto;
}

.container-lista-horarios {
    position: absolute;
    top: 10%;
    color: #fff;
    margin: 0 auto;
}

.lista li {
    position: relative;
    display: flex;
}

.lista li p {
    position: absolute;
    top: 0;
    right: 0;
}

span {
    color: #c4a47c;
}

.lista li div{
    width: 70%;
    height: 1px;
    background-color: #acacac;
}

.container-rodape {
    position: relative;
    color: #fff;
    text-align: center;
    font-family: 'Fraunces', serif;
    width: 100%;
    height: 70px;
    background-color: #000;
}

.container-rodape a {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 50px;
    bottom: 80px;
}